* {
  /* text-align: center; */
  font-family: "Poppins", sans-serif;
}

.background {
  background-image: url("./gradient.png");
  background-size: cover;
  background-attachment: fixed;
}

main {
  min-height: 93vh;
  top: 0;
}

.footer {
  bottom: 0;
  z-index: 999;
  padding: 3px;
  margin: 30px 0 0 0;
  width: 100%;
}

.container {
  margin: 20px 0 0 0;
}

.button {
  width: 120px;
  border-radius: 8px;
  padding: 5px;
  margin: 10px;
  background-color: #efe3df;
  /* border: solid 2px #8b7fba; */
  text-transform: uppercase;
  font-size: 13px;
  transition: 0.5s;
  text-align: center;
  /* display: flex;
  justify-content: center; */
  color: black;
}

@keyframes bounce {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: translate(10px);
  }
  100% {
    transform: rotate(0deg);
  }
}

.button:hover {
  background-color: #a1c0b9;
  animation: bounce 1s;
}

/* in Filters, wrapping the results container*/
.purple-container {
  margin: 50px 0 20px 0;
  background-color: rgba(139, 127, 186, 0.5);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

/* Results component, wrapping EmailResults */
#email-results {
  margin: 40px 0 0 0;
}

#email-form {
  display: flex;
  justify-content: center;
  /* background-color: lime; */
}

a {
  margin: 5px 5px 5px 5px;
}

.small-text {
  font-size: 12px;
}

.center {
  /* background-color: lime; */
  text-align: center;
}

.right {
  /* background-color: lime; */
  margin-right: 0px;
}
