* {
  text-align: center;
}

main {
  min-height: 90vh;
}

.footer {
  /* position: fixed; */
  bottom: 0;
  z-index: 999;
  padding: 3px;
  margin: 30px 0 0 0;
  width: 100%;
  /* background-color: lightsteelblue; */
}

.container {
  margin: 30px 0 0 0;
}

.button {
  width: 150px;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;
  background-color: lightsteelblue;
  border: none;
  text-transform: uppercase;
  transition: 0.5s;
  display: block;
}

/* .filter {
  transform: rotate(0.9turn);
  margin: -30px;
} */

/* .bored-button {
  height: 110px;
  width: 110px;
  border-radius: 50%;
} */

#filter-row {
  /* margin: 50px 0 100px 0; */
}

#filters-container {
  /* display: flex;
  width: 100px; */
}

#results-container {
}

#email-results {
  margin: 40px 0 30px 0;
}

.button:hover {
  background-color: aquamarine;
}

a {
  margin: 5px 5px 5px 5px;
}

/* #blank-div {
  height: 200px;
} */
